<ion-header [translucent]="true" class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-thumbnail slot="start" class="ion-margin">
      <ion-img src="../../assets/icon/logo.png"></ion-img>
    </ion-thumbnail>
    <ion-buttons slot="end">
      <ion-button>ipb</ion-button>
      <ion-button>sociedades</ion-button>
      <ion-button>sobre</ion-button>

      <ion-button><ion-icon name="logo-facebook"></ion-icon></ion-button>
      <ion-button><ion-icon name="logo-instagram"></ion-icon></ion-button>
      <ion-button><ion-icon name="logo-youtube"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col><ion-img src="../../assets/fundo.jpg"></ion-img></ion-col>
    </ion-row>
    <ion-row><ion-col>teste</ion-col></ion-row>
    <ion-row><ion-col>teste</ion-col></ion-row>
  </ion-grid>
</ion-content>
